In [7]:
import pandas as pd
import pypyodbc

In [20]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=nonprd-cdw.et1200.epichosted.com;"
            "Database=DEV_CDW;"
            "Trusted_Connection=yes;")
cnxn = pypyodbc.connect(cnxn_str)

In [30]:
sql_query = """
SELECT Top 1000 encfact.EncounterEpicCsn "Encounter CSN",
	   empdim.Name "User Name",
       flodim.DisplayName "Flowsheet Row Name",
       fsdfact.Value "Measurement Value",
       fsdfact.TakenInstant "Measurement Time",
       fsdfact.FirstDocumentedInstant "Documented Time"
  FROM FlowsheetValueFact fsdfact
    INNER JOIN FlowsheetRowDim flodim
      ON fsdfact.FlowsheetRowKey = flodim.FlowsheetRowKey
    INNER JOIN EncounterFact encfact
      ON fsdfact.EncounterKey = encfact.EncounterKey
        AND encfact.Type <> 'Surgery' --Exclude surgery encounters
    INNER JOIN EmployeeDim empdim
      ON fsdfact.TakenByEmployeeDurableKey = empdim.DurableKey
	    AND empdim.IsCurrent = 1
  WHERE fsdfact.TakenByEmployeeDurableKey = fsdfact.DocumentedByEmployeeDurableKey
    AND DATEADD( hh, 3, fsdfact.TakenInstant ) < fsdfact.FirstDocumentedInstant
	AND flodim.FlowsheetRowEpicId in (
'3040111471'
,'3040111472'
,'3040111473'
,'3040111474'
,'3040111475'
,'3040111476'
,'3040104644'
,'3040111479'
,'3040104645'
,'3040104647'
,'3040104648'
,'3040104649'
,'3040104650'
,'3040111483'
,'305560'
,'3040111484'
,'3040111490'
,'3040111491')
"""

In [31]:
df1 = pd.read_sql(sql_query, cnxn)

C:\Users\achevali\AppData\Local\Temp\1\ipykernel_15888\3810391206.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql(sql_query, cnxn)

In [32]:
df1

,encounter csn,user name,flowsheet row name,measurement value,measurement time,documented time
0,15511.0,"SURGERY, PHYSICIAN",Activity,Ambulate in room;Chair,2013-02-09 22:00:00,2013-02-10 19:57:00
1,36674.0,"THERAPIST, RESPIRATORY",Safety Screen Spontaneous Awakening Trial (SAT),Proceed with SAT - No exclusion criteria met,2020-11-24 08:46:00,2020-12-09 15:56:00
2,36674.0,"THERAPIST, RESPIRATORY",Spontaneous Awakening Trial (SAT) Outcome,SAT pass,2020-11-24 08:46:00,2020-12-09 15:56:00
3,36674.0,"THERAPIST, RESPIRATORY",Safety Screen Spontaneous Breathing Trial (SBT),Proceed with SBT - No exclusion criteria met,2020-11-24 08:46:00,2020-12-09 15:56:00
4,36674.0,"THERAPIST, RESPIRATORY",Spontaneous Breathing Trial (SBT) Outcome,SBT Passed,2020-11-24 08:46:00,2020-12-09 15:56:00
...,...,...,...,...,...,...
122,24922.0,"INPATIENT, NURSE",Activity,Stand at bedside,2023-10-13 04:12:00,2023-10-14 16:56:00
123,24922.0,"INPATIENT, NURSE",Activity,Chair,2023-10-13 07:37:00,2023-10-14 16:56:00
124,24922.0,"INPATIENT, NURSE",Activity,Ambulate in room,2023-10-13 21:46:00,2023-10-14 16:56:00
125,24922.0,"INPATIENT, NURSE",Activity,Chair,2023-10-14 08:14:00,2023-10-14 16:56:00
126,24922.0,"INPATIENT, NURSE",Activity,Ambulate in room,2023-10-14 06:49:00,2023-10-14 16:56:00